
/**
* Game
**/
.plan {
	position: absolute;
	width: 100000%;
	height: 100%;
}
.plan.background {
	z-index: -100;
	background-repeat: repeat-x;
	background-size: auto 100%;
}
.plan.stage {
	z-index: 0;
}
.plan.frontground {
	z-index: 100;
	background-repeat: repeat-x;
	background-size: auto 100%;
}

.element {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.back {
	z-index: -50;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/**
* Player
**/
.player {
	width: 45; height: 70;
	background-image: url("../img/game/perso/stop.png");
}
.player.marche-0 {
	background-image: url("../img/game/perso/stop.png");
}
.player.marche-1 {
	background-image: url("../img/game/perso/marche/1.png");
}
.player.marche-2 {
	background-image: url("../img/game/perso/marche/2.png");
}
.player.marche-3 {
	background-image: url("../img/game/perso/marche/3.png");
}
.player.cours-0 {
	background-image: url("../img/game/perso/stop.png");
}
.player.cours-1 {
	background-image: url("../img/game/perso/course/1.png");
}
.player.cours-2 {
	background-image: url("../img/game/perso/course/2.png");
}
.player.cours-3 {
	background-image: url("../img/game/perso/course/3.png");
}
.player.saute {
	background-image: url("../img/game/perso/course/2.png") !important;
}

/**
* Utils
**/
.pause {
	z-index: 10000;
}
.pause .mask {
	background: gray;
	opacity : 0.5;
}
.text {
	font-family: fantasy;
	font-size : 2em;
	max-width: 100%;
	word-wrap: break-word;
}
.preload {
	position: absolute;
	left: -9999px;
	top : -9999px;
}
#end {
	z-index: 9000;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../img/menu/menu-fond.jpg");
}
.hitbox {
	position: absolute;
	z-index: 10000;
	opacity : 0.5;
}
.hitbox.perso {
	background-color: red;
}
.hitbox.y {
	background-color: green;
}
.hitbox.x {
	background-color: blue;
}
.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}