.element.coeur {
	width: 15; height: 15;
	background-image: url("../img/game/coeur/coeur.png");
}

/**
* Boulangerie
**/
.plan.background.boulangerie {
	background-image: url("../img/game/boulangerie/background.jpg");	
}

/**
* Element d'arriere plan
**/
.back.etagere-vide {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/etagere/divers/0.png");
	background-size: 100% 100%;
}
.back.etagere1 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/etagere/divers/1.png");
	background-size: 100% 100%;
}
.back.etagere2 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/etagere/divers/2.png");
	background-size: 100% 100%;
}
.back.etagere3 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/etagere/divers/3.png");
	background-size: 100% 100%;
}
.back.etagere4 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/etagere/divers/4.png");
	background-size: 100% 100%;
}
.back.etagere-pain1 {
	width: 250; height: 60;
	background-image: url("../img/game/boulangerie/back/etagere/pain/1.png");
	background-size: 100% 100%;
}
.back.etagere-pain2 {
	width: 250; height: 60;
	background-image: url("../img/game/boulangerie/back/etagere/pain/2.png");
	background-size: 100% 100%;
}
.back.etagere-pain3 {
	width: 250; height: 60;
	background-image: url("../img/game/boulangerie/back/etagere/pain/3.png");
	background-size: 100% 100%;
}
.back.etagere-pain4 {
	width: 250; height: 60;
	background-image: url("../img/game/boulangerie/back/etagere/pain/4.png");
	background-size: 100% 100%;
}
.back.niche-baguette {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/divers/1.png");
	background-size: 100% 100%;
}
.back.niche-pain1 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/divers/2.png");
	background-size: 100% 100%;
}
.back.niche-pain2 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/divers/3.png");
	background-size: 100% 100%;
}
.back.niche-pain3 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/divers/4.png");
	background-size: 100% 100%;
}
.back.niche-pain4 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/divers/5.png");
	background-size: 100% 100%;
}
.back.niche-vide1 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/vide/1.png");
	background-size: 100% 100%;
}
.back.niche-vide2 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/vide/2.png");
	background-size: 100% 100%;
}
.back.niche-vide3 {
	width: 250; height: 215;
	background-image: url("../img/game/boulangerie/back/niche/vide/3.png");
	background-size: 100% 100%;
}
.back.lustre {
	width: 220; height: 220;
	background-image: url("../img/game/boulangerie/back/lustre.png");
	background-size: 100% 100%;
}
.back.boulanger {
	width: 240; height: 310;
	background-image: url("../img/game/boulangerie/back/boulanger.png");
	background-size: 100% 100%;
}

/**
* Elements de premier plan
**/
/**
* Eclair au chocolat
**/
.element.eclair-choco {
	width: 200; height: 50;
	background-image: url("../img/game/boulangerie/eclairs/eclair-choco.png");
}
.element.eclair-choco.saut {
	background-image: url("../img/game/boulangerie/eclairs/eclair-choco-saut.png");
}
/**
* Eclair au café
**/
.element.eclair-cafe {
	width: 200; height: 50;
	background-image: url("../img/game/boulangerie/eclairs/eclair-cafe.png");
}
.element.eclair-cafe.saut {
	background-image: url("../img/game/boulangerie/eclairs/eclair-cafe-saut.png");
}
/**
* Eclair a la vanille
**/
.element.eclair-vanille {
	width: 200; height: 50;
	background-image: url("../img/game/boulangerie/eclairs/eclair-vanille.png");
}
.element.eclair-vanille.saut {
	background-image: url("../img/game/boulangerie/eclairs/eclair-vanille-saut.png");
}
/**
* Eclair a la fraise
**/
.element.eclair-fraise {
	width: 200; height: 50;
	background-image: url("../img/game/boulangerie/eclairs/eclair-fraise.png");
}
.element.eclair-fraise.saut {
	background-image: url("../img/game/boulangerie/eclairs/eclair-fraise-saut.png");
}
/**
* Choux
**/
.element.choux {
	width: 115; height: 50;
	background-image: url("../img/game/boulangerie/choux/choux.png");
}
.element.choux.saut {
	background-image: url("../img/game/boulangerie/choux/choux-saut.png");
}
/**
* Macaron
**/
.element.macaron {
	width: 160; height: 145;
	background-image: url("../img/game/boulangerie/macaron/macaron.png");
}
.element.macaron.saut {
	background-image: url("../img/game/boulangerie/macaron/macaron-saut.png");
}

/**
* Boom
**/
.element.muffin {
	width: 365; height: 240;
	background-image: url("../img/game/boulangerie/muffin/muffin-0.png");
}
.element.muffin.saut {
	background-image: url("../img/game/boulangerie/muffin/muffin-1.png");
}
.element.muffin.saut-2 {
	background-image: url("../img/game/boulangerie/muffin/muffin-2.png");
}
.element.muffin.saut-3 {
	background-image: url("../img/game/boulangerie/muffin/muffin-3.png");
}
.element.muffin.saut-4 {
	background-image: url("../img/game/boulangerie/muffin/muffin-4.png");
}

/**
* Gateau fraise
**/
.element.gateau-fraise {
	width: 170; height: 100;
	background-image: url("../img/game/boulangerie/gateau-fraise/gateau.png");
}
.element.gateau-fraise.saut {
	background-image: url("../img/game/boulangerie/gateau-fraise/gateau-saut.png");
}
.element.fraise {
	width: 35; height: 45;
	background-image: url("../img/game/boulangerie/danger/fraise.png");
}
.element.citron {
	width: 45; height: 45;
	background-image: url("../img/game/boulangerie/danger/citron.png");
}

/**
* Gateau choco
**/
.element.gateau-choco {
	width: 50; height: 45;
	background-image: url("../img/game/boulangerie/gateau-choco/gateau.png");
}
.element.gateau-choco.saut {
	background-image: url("../img/game/boulangerie/gateau-choco/gateau-saut.png");
}

/**
* Brownie
**/
.element.brownie {
	width: 55; height: 150;
	background-image: url("../img/game/boulangerie/brownie/brownie.png");
}
.element.brownie.ouverture {
	background-image: url("../img/game/boulangerie/brownie/brownie-ouvert.png");
}

/**
* Banane
**/
.element.banane {
	width: 205; height: 100;
	background-image: url("../img/game/boulangerie/banane/banane.png");
}
.element.banane.saut {
	background-image: url("../img/game/boulangerie/banane/banane-saut.png");
}

/**
* Gaufrette
**/
.element.gaufrette {
	width: 60; height: 15;
	background-image: url("../img/game/boulangerie/gaufrette/gaufrette.png");
}
.element.gaufrette.active {
	background-image: url("../img/game/boulangerie/gaufrette/gaufrette-active.png");
}

/**
* Cuisine
**/
.plan.background.cuisine {
	background-image: url("../img/game/cuisine/background.jpg");	
}

/**
* Element d'arriere plan
**/
.back.meuble {
	width: 220; height: 240;
	background-image: url("../img/game/cuisine/back/meuble.png");
}
.back.lavabo {
	width: 220; height: 330;
	background-image: url("../img/game/cuisine/back/lavabo.png");
}
.back.etagere-cuisine-vide1 {
	width: 220; height: 168;
	background-image: url("../img/game/cuisine/back/etagere/vide.png");
}
.back.etagere-cuisine-vide2 {
	width: 220; height: 168;
	background-image: url("../img/game/cuisine/back/etagere/vide2.png");
}
.back.etagere-cuisine-epice {
	width: 220; height: 168;
	background-image: url("../img/game/cuisine/back/etagere/epice.png");
}
.back.etagere-cuisine-sopalin {
	width: 130; height: 90;
	background-image: url("../img/game/cuisine/back/etagere/sopalin.png");
}
.back.etagere-cuisine-pate {
	width: 220; height: 165;
	background-image: url("../img/game/cuisine/back/etagere/pate.png");
}
.back.lustre-cuisine {
	width: 220; height: 220;
	background-image: url("../img/game/cuisine/back/lustre.png");
}
.back.frigo {
	width: 220; height: 400;
	background-image: url("../img/game/cuisine/back/frigo.png");
}

/**
* Elements de premier plan
**/
/**
* Beurre
**/
.element.beurre {
	width: 200; height: 75;
	background-image: url("../img/game/cuisine/beurre/beurre.png");
}
.element.beurre.saut {
	background-image: url("../img/game/cuisine/beurre/beurre-saut.png");
}
/**
* Oeuf
**/
.element.oeuf {
	width: 105; height: 140;
	background-image: url("../img/game/cuisine/oeuf/oeuf.png");
}
.element.oeuf.etape-2 {
	background-image: url("../img/game/cuisine/oeuf/oeuf2.png");
}
.element.oeuf.etape-3 {
	background-image: url("../img/game/cuisine/oeuf/oeuf3.png");
}
.element.oeuf.etape-4 {
	background-image: url("../img/game/cuisine/oeuf/oeuf4.png");
}
.element.oeuf.etape-5 {
	background-image: url("../img/game/cuisine/oeuf/oeuf5.png");
}
.element.coquille {
	width: 105; height: 45;
	background-image: url("../img/game/cuisine/oeuf/coquille.png");
}

/**
* Chocolat
**/
.element.chocolat {
	width: 200; height: 20;
	background-image: url("../img/game/cuisine/chocolat/chocolat.png");
}
.element.chocolat.saut {
	background-image: url("../img/game/cuisine/chocolat/chocolat-saut.png");
}

/**
* Noisettes
**/
.element.noisette1 {
	width: 15; height: 15;
	background-image: url("../img/game/cuisine/noisette/noisette1.png");
}
.element.noisette2 {
	width: 15; height: 15;
	background-image: url("../img/game/cuisine/noisette/noisette2.png");
}
.element.noisette3 {
	width: 15; height: 15;
	background-image: url("../img/game/cuisine/noisette/noisette3.png");
}
.element.noisette4 {
	width: 15; height: 15;
	background-image: url("../img/game/cuisine/noisette/noisette4.png");
}

/**
* Pomme
**/
.element.pomme {
	width: 160; height: 145;
	background-image: url("../img/game/cuisine/pomme/pomme.png");
}
.element.pomme.saut {
	background-image: url("../img/game/cuisine/pomme/pomme-saut.png");
}

/**
* Poire
**/
.element.poire {
	width: 160; height: 145;
	background-image: url("../img/game/cuisine/poire/poire.png");
}
.element.poire.saut {
	background-image: url("../img/game/cuisine/poire/poire-saut.png");
}

/**
* Pate
**/
.element.pate {
	width: 170; height: 100;
	background-image: url("../img/game/cuisine/pate/pate.png");
}
.element.pate.saut {
	background-image: url("../img/game/cuisine/pate/pate-saut.png");
}

/**
* Farine
**/
.element.farine {
	width: 70; height: 150;
	background-image: url("../img/game/cuisine/farine/farine.png");
}
.element.farine.ouverture {
	background-image: url("../img/game/cuisine/farine/farine-ouvert.png");
}

/**
* Mochi
**/
.element.mochi {
	width: 70; height: 45;
	background-image: url("../img/game/cuisine/mochi/mochi.png");
}
.element.mochi.saut {
	background-image: url("../img/game/cuisine/mochi/mochi-saut.png");
}

/**
* Sucre
**/
.element.sucre {
	width: 50; height: 20;
	background-image: url("../img/game/cuisine/sucre/sucre.png");
}
.element.sucre.active {
	background-image: url("../img/game/cuisine/sucre/sucre-active.png");
}

/**
* Rouleau
**/
.element.rouleau {
	width: 230; height: 55;
	background-image: url("../img/game/cuisine/rouleau/rouleau.png");
}
.element.rouleau.saut {
	background-image: url("../img/game/cuisine/rouleau/rouleau-saut.png");
}

/**
* Yahourt
**/
.element.yahourt {
	width: 330; height: 345;
	background-image: url("../img/game/cuisine/yahourt/yahourt-0.png");
}
.element.yahourt.saut {
	background-image: url("../img/game/cuisine/yahourt/yahourt-1.png");
}
.element.yahourt.saut-2 {
	background-image: url("../img/game/cuisine/yahourt/yahourt-2.png");
}
.element.yahourt.saut-3 {
	background-image: url("../img/game/cuisine/yahourt/yahourt-3.png");
}

/**
* Date
**/
.element.date {
	width: 115; height: 50;
	background-image: url("../img/game/cuisine/date/date.png");
}
.element.date.saut {
	background-image: url("../img/game/cuisine/date/date-saut.png");
}

/**
* Raisins
**/
.element.raisin-blanc {
	width: 35; height: 45;
	background-image: url("../img/game/cuisine/raisins/raisin-blanc.png");
}
.element.raisin-noir {
	width: 35; height: 45;
	background-image: url("../img/game/cuisine/raisins/raisin-noir.png");
}