<link rel="stylesheet" href="app/css/style-game.css">
<link rel="stylesheet" href="app/css/style-stage.css">
<link rel="stylesheet" href="app/css/style-cinematique.css">
<div class="game page">
	<div class="plan background"></div>
	<div class="plan stage"></div>
	<div class="plan frontground"></div>
	
	<!-- debug -->
	<div class="hitbox hidden"></div>
</div>

<div class="page collapse pause" id="pause">
	<div class="page mask"></div>
	<div class="h-center v-center text-center">
		<div class="text">PAUSE</div>
		<div class="text"><%=data.text.get("point")%> : <span id="point"></span></div>
		<div class="text"><%=data.text.get("codeHolder")%> : <span id="code"></span></div>
	</div>
</div>

<div class="page" id="cinematique">
	<div class="page" id="next"></div>
	<div class="page" id="current"></div>
</div>

<div class="page collapse" id="end"></div>

<!-- Preload des images -->
<div class="preload">
	<div class="element eclair-choco"></div>
	<div class="element eclair-choco saut"></div>
	<div class="element eclair-cafe"></div>
	<div class="element eclair-cafe saut"></div>
	<div class="element eclair-vanille"></div>
	<div class="element eclair-vanille saut"></div>
	<div class="element eclair-fraise"></div>
	<div class="element eclair-fraise saut"></div>
	<div class="element choux"></div>
	<div class="element choux saut"></div>
	<div class="element macaron"></div>
	<div class="element macaron saut"></div>
	<div class="element muffin"></div>
	<div class="element muffin saut"></div>
	<div class="element muffin saut-2"></div>
	<div class="element muffin saut-3"></div>
	<div class="element muffin saut-4"></div>
	<div class="element gateau-fraise"></div>
	<div class="element gateau-fraise saut"></div>
	<div class="element fraise"></div>
	<div class="element citron"></div>
	<div class="element gateau-choco"></div>
	<div class="element gateau-choco saut"></div>
	<div class="element brownie"></div>
	<div class="element brownie ouverture"></div>
	<div class="element banane"></div>
	<div class="element banane saut"></div>
	<div class="element gaufrette"></div>
	<div class="element gaufrette active"></div>
	<div class="element beurre"></div>
	<div class="element beurre saut"></div>
	<div class="element oeuf"></div>
	<div class="element oeuf etape-2"></div>
	<div class="element oeuf etape-3"></div>
	<div class="element oeuf etape-4"></div>
	<div class="element oeuf etape-5"></div>
	<div class="element coquille"></div>
	<div class="element chocolat"></div>
	<div class="element chocolat saut"></div>
	<div class="element noisette1"></div>
	<div class="element noisette2"></div>
	<div class="element noisette3"></div>
	<div class="element noisette4"></div>
	<div class="element pomme"></div>
	<div class="element pomme saut"></div>
	<div class="element poire"></div>
	<div class="element poire saut"></div>
	<div class="element pate"></div>
	<div class="element pate saut"></div>
	<div class="element farine"></div>
	<div class="element farine ouverture"></div>
	<div class="element mochi"></div>
	<div class="element mochi saut"></div>
	<div class="element sucre"></div>
	<div class="element sucre active"></div>
	<div class="element rouleau"></div>
	<div class="element rouleau saut"></div>
	<div class="element yahourt"></div>
	<div class="element yahourt saut"></div>
	<div class="element yahourt saut-2"></div>
	<div class="element yahourt saut-3"></div>
	<div class="element date"></div>
	<div class="element date saut"></div>
	<div class="element raisin-blanc"></div>
	<div class="element raisin-noir"></div>
	<div class="player marche-0"></div>
	<div class="player marche-1"></div>
	<div class="player marche-2"></div>
	<div class="player marche-3"></div>
	<div class="player cours-1"></div>
	<div class="player cours-2"></div>
	<div class="player cours-3"></div>
</div>